@import "../../styles/rem.less";

.wedding {
  .title {
    font-family: "OPPOSans";
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */

    letter-spacing: -0.03em;

    color: #361041;
    margin: 112px 277px 60px;
  }

  .weddingContent {
    display: flex;
    padding: 0 154px;
  }
}
