.weddingForm {
  margin-right: 288px;
  .headPort {
    width: 310px;
    height: 171.34px;
    background: rgba(255, 254, 254, 0.6);
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 40px;
    .head {
      width: 107.58px;
      height: 107.58px;
      border-radius: 50%;
      margin-bottom: 12px;
    }
    .name {
      font-family: "Jura";
      font-style: normal;
      font-weight: 700;
      font-size: 15.9383px;
      line-height: 19px;
    }
  }
  .formContent {
    .item {
      display: flex;
      margin-bottom: 34px;
      .label {
        width: 80px;
        margin-right: 39px;
        word-break: break-all;
      }
      .value {
        width: 310px;
      }
    }
  }
}

.workInfo {
  .info {
    margin-bottom: 60px;
    .title {
      font-family: "OPPOSans";
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 34px;
      display: flex;
      align-items: center;
      letter-spacing: -0.03em;

      color: #361041;
      margin-bottom: 24px;
    }
  }
}
